*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    width: 100vw;
}

    /* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(69, 68, 68);
    color: #fff;
}
nav h2{
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
nav ul li a:hover{
    color: red;
}

/* Section */

section {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
section #content{
    position: relative;
    top: 10%;
    left: 10%;
}
#content h1{
   margin: 10% 0 5px 0;
   font-weight: bold;

}
#content p{
    font-family: 'Courier New', Courier, monospace;
}
button {
    width: 100px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: #fff;
}
button:hover{
    background-color: white;
    color: #000;
}
#content-img{
    height: 300px;
    width: 300px;
    background-image: url("mypic-removebg-preview.png");
    background-position: top 10% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 13%;
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    height: 320px;
    width: 300px;
    background-image: url("mypic-removebg-preview2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
    margin-left: 50px;
}

hr{
    width: 60px;
    height: 5px;
    background-color: blue;
}

.about-content p{
    margin-top: 10px;
    width: 1100px;
    font-family: 'Courier New', Courier, monospace;
}
.about-content button{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.about-content button:hover{
    background-color: grey;
}